body {
    font-family: cursive;
    margin: 0;
}

table {
    margin: 0 auto;
}

table {
    background-color: rgb(212, 185, 77);
}

.header {
    text-align: left;
    flex-direction: row;
}

.formTd {
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 5px;
    height: 100%;
    background-color: rgb(172, 149, 55);
    border-radius: 10px;
    margin: 0 10px 0 10px;
}   


.formTd legend, .labelForX {
    font-size: 20px;
}

.shootForm {
    padding-right: 5px;
    width: 400px;
    height: 500px;
}

.clearYButton {
    width: 40px;
    height: 40px;
}

.parametrSection {
    display: grid;
    place-items: center;
    margin-bottom: 5px;
}

.ButtonSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
}

.Button {
    width: 100%;
    height: 50px;
    border: 2px, solid, rgb(34, 27, 2);
    border-radius: 5px;
    /* background-color: rgb(1, 17, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 5px;
}

.Button:hover {
    border: 2px, solid, rgb(152, 132, 53);
    background-color: rgb(190, 163, 58);
}

.Button:active {
    border: 2px, solid, rgb(51, 41, 3);
    background-color: rgb(147, 127, 48);
}

label {
    cursor: pointer;
    color: rgb(1, 17, 0);
    font-size: 20px;
    width: 100%;
    height: 30px;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
    color: rgb(104, 253, 81);
    background-color: rgb(1, 17, 0);
    font-size: 14px;
    border: 0px
}

button:hover {
    color: rgb(84, 203, 66);
}

button:active {
    color: rgb(104, 253, 81);
}

img {
    color: rgb(104, 253, 81);
}

::selection {
  background: rgb(7, 57, 3);
  color: rgb(17, 165, 6);
}

input[type="radio"]:checked {
    accent-color: rgb(17, 165, 6);
}

.labelForX {
    text-align: center;
}

.parametrXSection {
    text-align: center;
}

.parametrXInput {
    border-radius: 5px; 
    height:40px;
    width: 400px;
    padding: 0;
    border-radius: 5px;
    border: 0px;
}

.coordinateTd {
    padding: 0 10px 0 0;
}

.coordinatePlane {
    border: 5px, solid, black;
    border-radius: 10px;
}

.shootButton {
    width: 69%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.clearButton {
    width: 29%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 2%;
}

.hitRecordTable {
    width: 100%;
    box-sizing: border-box; /* Важно: включает padding и border в общую ширину 100% */
    border: 5px solid rgb(172, 149, 55); /* Убраны запятые */
    border-radius: 5px;
    background-color: rgb(172, 149, 55);
}