body {
    margin: 0;
    height: 100%;
    width: 1200px;
    font-family: "Kelly Slab";
    margin: 0 auto;
}

table {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(212, 185, 77);
}

.signature {
    font-family: cursive;
    font-size: 20px;
    color: black;
    border-collapse: collapse;
}

.signature td {
    padding-left: 10px;
    background-color: rgb(172, 149, 55);
    border-radius: 10px;
}

.formTd,
.coordinateTd,
.dopTd {
    vertical-align: top;
    padding: 0px;
    background-color: rgb(172, 149, 55);
    border-radius: 10px;
}

.formTd {
    width: 250px;
}

.shootForm {
    width: 98%;
    padding: 10px 5px 0 10px;
    height: 100%;
}

.formTd legend {
    font-size: 20px;
    margin-bottom: 10px;
}

.clearYButton {
    width: 40px;
    height: 40px;
}

.parametrSection {
    display: grid;
    place-items: center;
    margin-bottom: 5px;
}

.parametrSection > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
}

.button {
    width: 100%;
    height: 50px;
    border: 2px, solid, rgb(34, 27, 2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 5px;
}

.button:hover {
    border: 2px, solid, rgb(152, 132, 53);
    background-color: rgb(190, 163, 58);
}

.button:active {
    border: 2px, solid, rgb(51, 41, 3);
    background-color: rgb(147, 127, 48);
}

label {
    cursor: pointer;
    color: rgb(1, 17, 0);
    font-size: 20px;
    width: 100%;
    height: 30px;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
    color: var(--strokeColor, rgb(104, 253, 81));
    background-color: rgb(147, 127, 48);
    font-size: 14px;
    border: 0px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(133, 115, 44);
}

button:active {
    background-color: rgb(102, 88, 33);
}

::selection {
  background: var(--fillColor, rgb(7, 57, 3));
  color: var(--strokeColor, rgb(17, 165, 6));
}

input[type="radio"]:checked {
    accent-color: var(--strokeColor, rgb(17, 165, 6));
}

.parametrXSection {
    text-align: center;
}

.parametrXInput {
    height:40px;
    width: 96%;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    margin: 0 auto;
}

.parametrXInput::placeholder {
    color: black;
}

.parametrXInput.error::placeholder {
    color: crimson;
}

.coordinateTd {
    width: 5spx !important;
    padding: 10px;
    line-height: 0;
    font-size: 0;
}

.coordinatePlane {
    display: block;
    border-radius: 10px;
}

.buttonSection {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.buttonSection button {
    height: 40px;
    margin-bottom: 5px;
    border-radius: 10px;
    margin-right: 1%;
}

.shootButton {
    width: 31%;
}

.clearButton {
    width: 31%;
}

.toggleButton {
    width: 31%;
}
    
.hitRecordTable {
    width: 100%;
    box-sizing: border-box; 
    border: 5px solid rgb(172, 149, 55);
    border-radius: 5px;
    background-color: rgb(172, 149, 55);
    text-align: center;
    margin-bottom: 10px;
}

.labelForX {
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

.footer h2{
    margin: 0px 0px 10px 0px;
}

.dopForm {
    padding: 10px 10px 0 10px;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.dopForm input {
    height: 20%;
    width: 100%;
    margin-right: 2.5%;
}

.dopForm button {
    width: 100%;
    height: 75%;
}